   
    body {
      max-width: 100%;
      font-family: sans-serif;
      color: #333333;
      background-color: black;
      display: grid;
	    }

    header.h2 {
      display: grid;
      position: sticky;
      top: 0em;
      right: 0;
      left: 0;
      background: #000;
      color: white;
      width: 100%;
      max-height: 44;
      font-size: 38px;
      z-index: 60;
      background: linear-gradient(#2787a0,rgb(0 0 0 / 90%));
	    
	    }
	    
header.banner {
	display: grid;
	position: fixed;
	top: -1em;
	right: 0;
	left: 0;
	background: #000;
	color: white;
	width: 100%;
	max-height: 1em;
	font-size: 38px;
	z-index: 80;
	background: #000;
}

.mcvideo {
	z-index: 85;
}

p.title {
	background-color: #2787a0;
}

nav {
	display: grid;
	grid-column: 1;
	grid-row: 1;
}

article.main {
	display: grid;
	grid-column: 2;
	grid-row: 2 /3;
	    }

footer {
	background: #e4ebf2;
	border-color: #8a9da8;
	display: grid;
	grid-column: 1;
	position: static;
	right: 0;
	left: 0;
	bottom: 0;
	   }
	    
